 /* Sita Robinson */
 
 /*Changes highlight selection color*/
::-moz-selection{
    background: rgb(184,211,233);
}

::selection{
    background-color:rgb(184,211,233);
}

body {
    font-family: helvetica;
}

form {
   width: 550px;
   height: 600px;
   position: relative;
   background-color: white;
}

h2 {
cursor: default;
color: rgb(22,40,76);

}

div {
    width: 400px;
    color: rgb(81, 166, 199);
    font-size: 16px;
    font-weight: bold;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

label {
    display: inline-block;
    width: 300px;
    text-align: center; 
    margin-bottom: 10px;
    margin-right: 3px;
    color: rgb(81, 166, 199);
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

input[type=text], input[type=password], text-area {
    width: 400px;
    padding: 12px 20px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid rgb(158, 156, 156);
    box-sizing: border-box;
    color: rgb(22,40,76);
    font-weight: bold;
    text-align:center;
}
p{
 
    font-size: 16px;
    color: rgb(22,40,76);
    font-weight: bold;
}

/*Error and Success Messages*/
.ErrorMessages {
    display: none;
    list-style-type: disc;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.ErrorMessages span {
    font-weight: bold;
}

.SuccessMessages {
    display: none;
    list-style-type: disc;
    padding: 8px 35px 8px 30px;
    color: darkolivegreen;
    background-color: #bfecbf;
    border: 2px solid #a5d69f;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.SuccessMessages span {
    font-weight: bold;
}

label.required:before {
  content:'* ';
  color: #B94A48;
}

/*Button Styles */

.SubmitButton {
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    background-color: rgb(22,40,76);
    font-weight: bold;
    color: #ffffff;
    -webkit-appearance: none;
    border: 3px solid #487fab;
    cursor: pointer;
    
}

.SubmitButton:active {
    background-color: rgb(81, 166, 199);
}

.SubmitButton:hover {
    opacity: 0.8;
}

/* Modal-Admin Login */
.Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 1;
    top: 1;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    padding-top: 60px;
    background-color: rgba( 0, 0, 0, 0.8 );
}

/* Modal Content/Box */
.ModalContent {
    border: 1px solid #888;
    width: 600px;
    height: 500px;
}


.Col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .Col {
    float: left;
  }
  .Col{
    width: 50%;
  }
}

.Col2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .Col2 {
    float: right;
  }
  .Col2{
    width: 40%;
  }
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}